.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #ffffff;
	background-color: #849d8f;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.container {
	padding: 0 27px;
	margin: 0 auto;
	width: 1146px;
}

.site-navigation,
.sub-catalog-menu{
	list-style: none;
}

.sub-catalog-menu {
	background-color: #f8f7f4;
}

.site-navigation  a {
	line-height: 18px;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.site-navigation li:hover {
	background-color: #f7f6f3;
	color: #333333;
}

.site-navigation a:hover {
	color: #000000;
}

.sub-catalog-menu a {
	border-bottom: none;	
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
}

.sub-catalog-menu-hover li:first-child > a {
	border-bottom: 1px solid rgba(35, 35, 35, 0.2)
}

.sub-catalog-menu li:hover {
	background-color: #fbded7;
}

.sub-catalog-menu li:active {
	background-color: #f6b5a5;
}

.sub-menu-news {
	font-weight: 700;
}

.active {
	background-color: #d07058;
	color: #ffffff;
}

.user-wrapper {
	display: flex;
	width: 270px;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
	padding: 0;
	align-items: flex-start;
	padding-top: 24px;
}

.user-login,
.user-cart {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;

}

.user-login {
	position: relative;
	margin-left: 10px;
}

.user-cart {
	position: relative;
	margin-left: 10px;
}

.btn-user-wrapper {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 17px;
    vertical-align: middle;
}

.btn-login {
	padding-right: 16px;
	padding-left: 44px;
}

.btn-login::before {
	position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    top: 5px;
    left: 16px;
    background: url(../img/enterwhite.svg) no-repeat;
}

.btn-user-cart {
	padding-right: 16px;
	padding-left: 45px;
}

.btn-user-cart::before {
	position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    top: 5px;
    left: 16px;
    background: url(../img/cart.svg) no-repeat;
}


.btn-search {
	display: block;
    width: 31px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2) url(../img/search.svg) no-repeat;
    background-position: center center;
    border-radius: 50%;
}

.mode {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
	margin-top: 19px;
	width: 170px;
	margin-left: auto;
}

.mode p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}

.user-cart-popup {
	background-color: #f8f7f4;
}

.cart-name {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
}

.cart-weight,
.cart-x,
.cart-weight-price,
.cart-price {
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
}

.cart-weight-price {
	color: #999999;
}

.user-cart-popup p {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	color: #323232;
}

.btn-cart {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #f06441;
}

.form-control {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.user-login-popup ul {
	list-style: none;
}

.user-login-popup a {
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.btn-user-enter {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #eb563b;
}


.mode p {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}

.mode {
  font-size: 14px;
  line-height: 16px;
}

.mode p:last-child {
  font-size: 22px;
  font-weight: 700;
}

.slider-list,
.sale-list,
.catalog-list,
.seo-feature,
.news-blog-dispatch-list,
.footer-menu {
	list-style: none;
}

.slider-item-titul {
	font-size: 60px;
	font-weight: 700;
	line-height: 60.35px;
}

.slider-btn {
	display: inline-block;
    padding: 10px 40px 12px 40px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background-color: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.sale-item h3 {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.sale-item p {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

.raspberry {
	background-image: url(../img/raspberry.jpg);
	background-repeat: no-repeat;
	background-color: #6c0004;
}

.chocolate {
	background-image: url(../img/chocolate.jpg);
	background-repeat: no-repeat;
	background-color: #4d2b1c;
}



.btn-sale-item {
	display: flex;
	width: 165px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 45px;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eb563b;
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border-radius: 20px;
}



.price {
	display: flex;
    width: 160px;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
    margin-bottom: 30px;
    margin-top: -63px;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item span {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin-top: 5px;
}

.ruble {
	margin-top: -6px;
    margin-left: 5px;
    width: 31px;
    height: 36px;
}

.catalog-item-link {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	margin-top: -8px;	
}

.catalog-item-link .link-border {
	font-size: 16px;
    font-weight: 400;
    line-height: 22px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.seo-titul {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
	margin: 0;
	padding-left: 20px;
	padding-top: 24px;
}

.seo-feature p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
	margin: 0;
	margin-top: 21px;
	padding-left: 76px;
}



.seo {
	background-image: url(../img/wafer.jpg);
	background-color: #efe3cb;
    color: #323232;
    min-height: 306px;
    border-radius: 15px;
}



.seo-feature li:nth-child(1)::before {
	content: "";
    width: 49px;
    height: 49px;
    top: 8px;
    left: 32px;
    position: absolute;
    background-image: url(../img/icecream.svg);
}

.seo-feature li:nth-child(2)::before {
	content: "";
    width: 49px;
    height: 49px;
    top: 8px;
    left: 32px;
    position: absolute;
    background-image: url(../img/cow.svg);
}

.seo-feature li:nth-child(3)::before {
	content: "";
    width: 49px;
    height: 49px;
    top: 8px;
    left: 32px;
    position: absolute;
    background-image: url(../img/leaf.svg);
}

.seo-feature li:nth-child(4)::before {
	content: "";
    width: 49px;
    height: 49px;
    top: 8px;
    left: 32px;
    position: absolute;
    background-image: url(../img/thermometr.svg);
}

.news-blog-item {
	background-image: url(../img/raspberry-background.jpg);
	background-repeat: no-repeat;
	background-color: #ffffff;
}

.news-blog-item p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
}

.news-blog-item p:last-child {
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-decoration: underline;
}

.dispatch-item {
	background-color: #f8f7f4;
}

.dispatch-item p {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #323232;
}

.btn-dispatch {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	background-color: #e84d37;
}

.dispatch-form input[type="email"] {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.adress {
	background-color: #fffffe;
}

.map img {
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin: 0 auto;
}

.adress p {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #323232	;
}

.adress b {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.btn-map {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #ffffff;
	background-color: #e84d37;
}

.feedback {
	background-color: #f8f7f4;
}

.feedback h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	color: #323232;
}

.feedback-group, 
.feedback-group input[type="email"] {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #999999;
}

.btn-feedback {
	font-style: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #fefefe;
	background-color: #e84d37;
}

.social-link ul {
	list-style: none;
}

.social-tw {
	background-image: url(../img/twitter.svg);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-tw:hover {
	opacity: 1;
}

.social-instagram {
	background-image: url(../img/instagram.svg);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-instagram:hover {
	opacity: 1;
}

.social-fb {
	background-image: url(../img/facebook.svg);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-fb:hover {
	opacity: 1;
}

.social-vk {
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
	opacity: 0.8;
}

.social-vk:hover {
	opacity: 1;
}

.footer-menu span {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
}

.footer-menu-item span {
	font-size: 18px;
	font-weight: 700;
}

.footer-copyright {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}

/* Catalog */

.catalog-menu {
	list-style: none;
}

.catalog-menu li {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}

.catalog-menu a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.h1-catalog {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
}

.sorting p {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.filter-price {
	list-style: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.sorting-control {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}

.btn-filter {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}

.cart-full {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
	color: #323232;
}

.btn-catalog {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	background-color: #f16743;
}

.page-navigation-list {
	list-style: none;
}

.page-navigation-list a {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}

/* Сетка */

.sub-catalog-menu {
	display: none;
}

.header-wrapper {
	display: flex;
}

.main-navigation {
	display: flex;
	width: 560px;
}

.site-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	min-width: 350px;
	justify-content: space-between;
	margin-left: 24px;
	margin-top: 29px;
}

.main-header-logo {
	margin-top: 9px;
}







.slider-list {
	display: flex;
	width: 715px;
	margin: 0;
	padding: 0;
	text-align: center;
	margin: 0 auto;
	flex-wrap: wrap;
}

.slider {
	margin-bottom: 40px;
}

.sale {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.raspberry,
.chocolate {
	min-height: 229px;
	border-radius: 15px;
}

.sale-list {
	display: flex;
	margin: 0 -13px;
	padding: 0;
	flex-wrap: wrap;
}

.sale-item {
	flex: 50% 0 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.sale-item h3,
.sale-item p {
	padding-left: 20px;
	margin: 0px;

}

.sale-item h3 {
	padding-top: 15px;
}

.sale-item p {
	padding-top: 15px;
	padding-right: 15px;
}



.btn-sale-item-chocolate {
	width: 190px;

}

.catalog {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.catalog-list {
	display: flex;
	padding: 0;
	margin: 0 -13px;
	flex-wrap: wrap;
}

.catalog-item img {
	border-radius: 50%;
}

.hit {
	position: absolute;
	width: 61px;
    height: 61px;
    border-radius: 50%;
    background: #ffffff url(../img/hit.svg);
}

.catalog-list li {
	flex: 25% 0 0;
	position: relative;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.seo-feature {
	display: flex;
	margin: 0 -13px;
	padding: 0;
	flex-wrap: wrap;
}

.seo-feature li {
	position: relative;
	flex: 50% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.news-blog-dispatch {
	margin: 0;
	padding: 0;
}

.news-blog-dispatch-list {
	display: flex;
	padding: 0;
	margin: 0 -13px;
	flex-wrap: wrap;
}

.news-blog-dispatch-item {
	flex: 50% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.user-login-popup,
.user-login-form,
.slide-2,
.slide-3,
.feedback {
	display: none;
}

.container-map {
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 0 auto;
	width: 1146px;
}

.map {
	min-height: 430px;
	margin: 0;
	padding: 0;
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: top;
}

.adress {
	display: block;
	width: 300px;
	padding: 0;
	margin: 0 27px;
	margin-left: auto;
}

.main-footer ul {
	list-style: none;
	margin: 0 -13px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

/*.footer-wrapper li {
	flex: 25% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
	background-color: green;
}

.footer-navigation {
	flex: 50% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
	background-color: red;
}
*/
.social-link {
	flex: 25% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.footer-navigation {
	flex: 50% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}

.copyright {
	flex: 25% 0 0;
	margin: 0;
	padding: 0 13px;
	box-sizing: border-box;
}


.container-footer {
	padding: 0;
	margin: 0 auto;
	width: 1146px;
}

.user-cart-popup {
	display: none;
}

.catalog-menu {
	display: flex;
	margin: 0;
	padding: 0;
}

.sorting {
	width: 880px;
	display: flex;
	flex-wrap: wrap;
}


.page-navigation-list {
	display: flex;
	width: 180px;
	margin: 0;
	padding: 0;
	margin-left: auto;
}